body {
    text-align: center;
    background-color: #f5fffa;
    margin: 0;
    width: 70%;
}

a {
    text-decoration: none;
    color: #126e82;
}

a:hover {
    text-decoration: underline;
}

hr {
  border-style: dotted none none none;
  border-width: 4px;
  border-color: grey;
  width: 6%;
}

.top-placeholderbox {
  width:140px;
  height:140px;
  border:10px;
  border-color: black;
  border-style: solid;
  padding: 20px;
}

.middle-placeholderbox {
  background-color: red;
  width:140px;
  height:140px;
  border:20px;
  padding:20px;
  border-color: black;
  border-style: solid;
  margin-left: 200px;
  }

.lower-placeholderbox {
  background-color: yellow;
  width:160px;
  height:160px;
  border:10px;
  padding:20px;
  border-color: black;
  border-style: solid;
  margin-left: 420px;
}

.bottom-container {

}

h1 {
    color: #66bfbf;
    font-size: 3em;
    font-family:'Arial', 'Sans-Serif';
}

h3{
  color: #66bfbf;
  font-family:'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    margin:0;
}
