body {
    text-align: center;
    color: #40514E;
    background-color: #f5fffa;
    margin: 0px;
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: #126e82;
}

a:hover {
    color: #246B61;
    text-decoration: underline;
}

hr {
  border-style: dotted none none none;
  border-width: 4px;
  border-color: grey;
  margin: 40px auto;
  width: 6%;
}

.head-list{
  margin: auto;
  padding: 20px;
  width: 22%;
}

.tablist{
  text-align: left;
  padding-left: 20px;
}

.sub-image{
  float:center;
}

.agenda-outline{
  margin: auto;
  width: 22%;
  padding: 20px;
}

.links-longform{
  margin: 20px auto 20px auto;
}

.contact-me{
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  padding: 20px 60px 60px 40px;
  background-color: #CCF6E4;
}

.top-placeholderbox {
  width:140px;
  height:140px;
  border:10px;
  border-color: black;
  border-style: solid;
  padding: 20px;
}

.middle-placeholderbox {
  background-color: red;
  width:140px;
  height:140px;
  border:20px;
  padding:20px;
  border-color: black;
  border-style: solid;
  margin-left: 200px;
  }

.lower-placeholderbox {
  background-color: yellow;
  width:160px;
  height:160px;
  border:10px;
  padding:20px;
  border-color: black;
  border-style: solid;
  margin-left: 420px;
}


h1 {
    color: #66bfbf;
    font-size: 3em;
    font-family:'Montserrat', sans-serif;
}

h3{
  color: #66bfbf;
  font-family:'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    margin:0;
}


.BUTTON_QMI {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family:'Montserrat', sans-serif;
   font-size: 0.7em;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_QMI:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
